<html>
    <head>
        <title>Zhanyuan Liu`s blog</title>
    </head>
    <body>
        
        <div>

            <h1><a href="/">Zhanyuan Liu's Blog</a></h1>
        </div>

        <div>

            <p>Welcome!!!</p>
        </div>

        <div>
            
            <h2><a href="">My first post</a></h2>
            <p>FIRST POST</p>
            <p>published: 20.05.2020</p>
        </div>

        <div>
            
            <h2><a href="">My second post</a></h2>
            <p>SECOND POST</p>
            <p>published: 20.05.2020</p>
        </div>
    </body>
</html>